[submodule "linode/terraform-modules/terraform-linode-instance"]
	path = linode/terraform-modules/terraform-linode-instance
	url = git@github.com:mvilain/terraform-linode-instance.git
[submodule "aws/terraform-modules/terraform-aws-ec2-instance"]
	path = aws/terraform-modules/terraform-aws-ec2-instance
	url = git@github.com:mvilain/terraform-aws-ec2-instance.git
[submodule "roles/wireguard"]
	path = roles/wireguard
	url = git@github.com:mvilain/wireguard.git
[submodule "do/terraform-modules/terraform-digitalocean-droplet"]
	path = do/terraform-modules/terraform-digitalocean-droplet
	url = git@github.com:mvilain/terraform-digitalocean-droplet.git
