# vpn demo inventory using linode and linode-list-instances.py

[alma_lin]
{% for index in alma -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[centos_lin]
{% for index in centos -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[debian_lin]
{% for index in debian -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[rocky_lin]
{% for index in rocky -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[fedora_lin]
{% for index in fedora -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[ubuntu_lin]
{% for index in ubuntu -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[unk_lin]
{% for index in unk -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[alma_lin:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./linode/id_rsa
ansible_python_interpreter=/usr/libexec/platform-python

[centos_lin:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./linode/id_rsa
ansible_python_interpreter=/usr/libexec/platform-python

[debian_lin:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./linode/id_rsa
ansible_python_interpreter=/usr/bin/python3

[fedora_lin:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./linode/id_rsa
ansible_python_interpreter=/usr/bin/python3

[rocky_lin:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./linode/id_rsa
ansible_python_interpreter=/usr/libexec/platform-python

[ubuntu_lin:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./linode/id_rsa
ansible_python_interpreter=/usr/bin/python3
