# vpn demo inventory using do and do-list-instances.py

[alma_do]
{% for index in alma -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[centos_do]
{% for index in centos -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[debian_do]
{% for index in debian -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[rocky_do]
{% for index in rocky -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[fedora_do]
{% for index in fedora -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[ubuntu_do]
{% for index in ubuntu -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[unk_do]
{% for index in unk -%}
{{ index.name }} ansible_host={{ index.public_ip }} # {{ index.dns }} {{ index.id }}
{% endfor %}

[alma_do:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./do/id_rsa
ansible_python_interpreter=/usr/libexec/platform-python

[centos_do:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./do/id_rsa
ansible_python_interpreter=/usr/libexec/platform-python

[debian_do:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./do/id_rsa
ansible_python_interpreter=/usr/bin/python3

[fedora_do:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./do/id_rsa
ansible_python_interpreter=/usr/bin/python3

[rocky_do:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./do/id_rsa
ansible_python_interpreter=/usr/libexec/platform-python

[ubuntu_do:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=./do/id_rsa
ansible_python_interpreter=/usr/bin/python3
