# /etc/openvpn/server/client-common.txt  *** {{ ansible_managed }} ***

client
dev tun
proto {{ openvpn_protocol }}
remote {{ public_ip }} {{ openvpn_port }}
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
auth SHA512
cipher AES-256-CBC
ignore-unknown-option block-outside-dns
block-outside-dns
verb 3
