# /etc/systemd/openvpn-iptables.service
# *** {{ ansible_managed }} ***
[Unit]
Before=network.target
[Service]
Type=oneshot
{% for ipv4 in ansible_facts.all_ipv4_addresses %}
{% if not ipv4|regex_search('^(10\.|172\.1[6789]\.|172\.2[0-9]\.|172\.3[01]\.|192\.168xxx)') %}
ExecStart={{ iptables_path }} -t nat -A POSTROUTING -s 10.8.0.0/24 ! -d 10.8.0.0/24 -j SNAT --to {{ ipv4 }}
{% endif %}
{% endfor %}
ExecStart={{ iptables_path }} -I INPUT -p {{ openvpn_protocol }} --dport {{ openvpn_port }} -j ACCEPT
ExecStart={{ iptables_path }} -I FORWARD -s 10.8.0.0/24 -j ACCEPT
ExecStart={{ iptables_path }} -I FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
{% for ipv4 in ansible_facts.all_ipv4_addresses %}
{% if not ipv4|regex_search('^(10\.|172\.1[6789]\.|172\.2[0-9]\.|172\.3[01]\.|192\.168xxx)') %}
ExecStop={{ iptables_path }} -t nat -D POSTROUTING -s 10.8.0.0/24 ! -d 10.8.0.0/24 -j SNAT --to  {{ ipv4 }}
{% endif %}
{% endfor %}
ExecStop={{ iptables_path }} -D INPUT -p {{ openvpn_protocol }} --dport {{ openvpn_port }} -j ACCEPT
ExecStop={{ iptables_path }} -D FORWARD -s 10.8.0.0/24 -j ACCEPT
ExecStop={{ iptables_path }} -D FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT

{#
{% for ipv6 in ansible_facts.all_ipv6_addresses %}
ExecStart={{ ip6tables_path }} -t nat -A POSTROUTING -s fddd:1194:1194:1194::/64 ! -d fddd:1194:1194:1194::/64 -j SNAT --to {{ ipv6 }}
{% endfor %}
ExecStart={{ ip6tables_path }} -I FORWARD -s fddd:1194:1194:1194::/64 -j ACCEPT
ExecStart={{ ip6tables_path }} -I FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
{% for ipv6 in ansible_facts.all_ipv6_addresses %}
ExecStop={{ ip6tables_path }} -t nat -D POSTROUTING -s fddd:1194:1194:1194::/64 ! -d fddd:1194:1194:1194::/64 -j SNAT --to {{ ipv6 }}
{% endfor %}
ExecStop={{ ip6tables_path }} -D FORWARD -s fddd:1194:1194:1194::/64 -j ACCEPT
ExecStop={{ ip6tables_path }} -D FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
#}